@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  box-sizing: border-box;
  background: #f9f9f9;
  font-family: "Montserrat";
}

.container {
display: flex;
justify-content: center;
align-items: center;
margin-top: 200px;
}

.card {
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  transform-style: preserve-3d;
  height: 550px;
  width: 450px;
  cursor: pointer;
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}

.card:hover {
  box-shadow: 0 0 5px 2px rgba(130, 184, 165, 0.5);
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  background-color: white;
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

h3{
    color: #00c1a6;
    font-size: 3rem;
    background-color: white;
   
}

p{
    color:#8c8a8a ;
    font-size: 2rem;
    background-color: white;
    margin-top: 70px;
}